<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h2>게시판 상세</h2>
    <form id="frm" name="frm" method="post">
        <table class="board_detail">
            <colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">글번호</th>
                <td th:text="${resultDetail.board_idx}"></td>
                <th scope="row">조회수</th>
                <td th:text="${resultDetail.hit_cnt}"></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td th:text="${resultDetail.creator_id}"></td>
                <th scope="row">작성일</th>
                <td th:text="${resultDetail.created_datetime}"></td>
            </tr>
            <tr>
                <th scope="row">제목</th>
                <td colspan="3">
                    <input type="text" id="title" name="title" th:value="${resultDetail.title}"/>
                </td>
            </tr>
            <tr>
                <th scope="row">내용</th>
                <td colspan="3">
                    <textarea id="contents" name="contents" th:text="${resultDetail.contents}"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
